#titlearea {
    padding: 16px;
    background: rgb(27, 23, 109);
    color: white;
}

#projectname {
    text-transform: uppercase;
    font-size: 48pt;
}

#projectbrief {
    margin-bottom: 8px;
    font-size: 24pt;
    color: #ddd;
}

h1 {
    border-bottom: 1px solid #879ECB;
    padding-bottom: 10px;
    color: #354C7B;    
}

h2 {
    font-weight: normal;
    color: #354C7B;
}

.fragment {
    margin-left: 28px !important;
    margin-right: 28px !important;    
}