#titlearea {
    padding: 16px;
}

#projectname {
    text-transform: uppercase;
    font-size: 48pt;
}

#projectbrief {
    margin-bottom: 8px;
    font-size: 24pt;
    color: #777;
}

h2 {
    color: #003399;
}